* {
  margin: 0;
  color: white;
  font-family: "cursive";
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  background:url("./bg_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  text-align:center;
  padding: 10px;
  /* width: 500px; */
}
.barcontainer {
  padding: 6px 2px;
  width: 500px;
  display: flex;
  position: relative;
  justify-content: space-between;

}


.barstepback {
  position: absolute;
  height: 6px;
  width: 100%;
  background-color: grey;
  z-index:-1;
  border: none;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
}
.barstepup {
    position:absolute;
    z-index:-1;
  height: 6px;
  background-color: green;
  border: none;
  width: 0%;
  top: 50%;
  margin: 0;
  transform: translateY(-50%);
  transition: .8s;
}
.step{ 
  font-size: 1.5rem;
    width: 40px;
    height: 40px;
border-radius: 50%;
display: flex;
background-color: black;
justify-content: center;
align-items: center;
border: 5px solid blue;
}
/* .step:last-child{
  margin-right: 5px;
} */
.step.checked{
    color: green;
    border-color: green;
    transition: all .9s;
    transition-delay: .5s;
}
.step.checked small{
    position: absolute;
    bottom: -40px;
    font-family: cursive;
}
.btn-container{
    margin-top: 70px;
    padding: 2px 5px;
}
.btn{width: 120px;
    font-size: 1.6rem;
    background-color: blueviolet;
    border: none;
    color: white;
    cursor: pointer;
    padding:10px 25px;
    margin:20px ;
    opacity: .8;
    border-radius: 8px;
    box-shadow: 0px 5px 8px rgba(0,0,0,0.7);
}
.btn:hover{
    opacity: 1;
}
.btn:active {
    transform: scale(.89);
    transition: 1s;
}
.btn:disabled{
    background-color: lightgray;
}
@media (max-width:500px) {
    .barcontainer{
        width: 90vw;
    }
    
}

